@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

body {
  @apply bg-black;
  font-family: "Fira Code", monospace;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
